* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#sidebar {
    background-color: #333333;
    color: white;
    width: 500px;
    min-height: 100vh;
    padding: 24px;

}
#sidebar .chapter {
    font-weight: bold;
    font-size: 24px;
}
#sidebar .edit {
    color: orange;
}
#sidebar .chapter.edit {
    color: red;
}