* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
ul {
    background-color: rgba(255, 255, 255, 0.455);
    border-radius: 10px;
    padding: 20px;
}
div {
    padding: 10px 15px;
    margin: 10px;
    border-radius: 15px;
    max-width: 500px;

}
#morning {
    background-color: brown;
}
#afternoon {
    background-color: orange;
}
#evening {
    background-color: darkblue;
}
#morning .completed {
    text-decoration: line-through;
}
#afternoon .important {
    font-weight: bold;
    color: rgb(181, 0, 0);
}
.button {
    border: 4px solid rgb(0, 181, 91);
    margin: 10px;
    color: rgb(1, 19, 3);
    border-radius: 6px;
    padding: 1px;
    text-decoration: none;
    background-color: rgb(6, 198, 6);
    font-size: 10px;
}
.important .completed {
    text-decoration: line-through;
    background-color: greenyellow;
}