* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
}
#background-test {
    padding: 20px;
    background-color: brown;
}       
#inline {
    display: inline-block;
}   
#background-color-block {
    background-color: #abc7ff;
    padding: 15px;
    border-radius: 10px;
    max-width: 800px;
}
a {
    text-decoration: none;
    color: #0d00c9;
    font-weight: bold;
    font-size: 20px;
}
a:hover {
    color: #440084;
    
}
h1, h4 {
    color: orange;
    font-size: 50px;
    text-decoration-line: underline;
}
#color-test {
    background-color: wheat;
    padding: 20px;
    border-radius: 10px;
}
h3 {
    font-size: 25px;
}
#cook-time {
    background-color: #ffffcc;
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}
img {
    padding-top: 20px;
}
#home-button {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    max-width: 300px;
    display: inline-block;
    border-radius: 30px;
}