* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
.single-center {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 56, 105);
    margin-top: 30px;
    border: 5px solid rgb(218, 210, 3);
    border-radius: 4px;
    padding: 20px;
}
.vegeta {
    max-width: 100%;
}
.single-center p {
    margin-top: 20px;
}
h2,
h4 {
    margin-bottom: 10px;
    margin-top: 15px;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
p {
    color: white;
}
h2,
h4,
h1 {
    background-color: yellow; 
}
.heading  {
    background-color: yellow;
}
#new-column {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}
#table-of-context {
    margin-right: auto;
    order: center;
    flex: 1;
    max-width: 100%;
    margin: 30px;
    border: 4px solid rgb(218, 210, 3);
    border-radius: 3px;
}
#table-of-context h3 {
    background-color: yellow;
    margin: 30px;
    padding: 12px;
    margin: 0px;
    text-align: left;
}
#table-of-context li {
    list-style-type: none;
    padding: 8px 0px;
    border-bottom: 1px solid yellow;
}
#table-of-context a {
    text-decoration: none;
    color: white;
    
}
#table-of-context ul {
    background-color: rgb(0, 56, 105);
    margin: 0px 0px 36px;
    text-align: center;
    margin-right: auto;
    
}
#table-of-context li:last-child{
    border-bottom: 0px;
}