* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#single-column {
    max-width: 800px;
    margin: 36px auto;
}
#card-container{
    display: flex;
    gap: 36px;
}
.card {
    border: 5px solid green;
    padding: 36px;
    text-align: center;
    margin: 36px 0px;
}
.card h3 {
    font-size: 36px;
    margin: 0px;
}
.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}