@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
.site {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
    /*background-color: rgb(82, 86, 91);*/
}
.product {
    padding: 48px 24px;
    padding: 48px 24px;
}
.image {
    max-width: 300px;
}
.button {
    background-color: blue;
    color: rgb(244, 244, 244);
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    margin: 10px;
    padding:  5px;
    box-shadow: 5px 5px 10px black;
}
.dark-site {
    text-align: center;
    background-color: rgb(82, 86, 91);
    color: white;
}
.grey-site {
    background-color: rgb(190, 187, 187);
    text-align: center;
    color: white;
}
.darker-grey-site {
    text-align: center;
    background-color: rgb(59, 56, 56);
    color: white;
}
.button-buynow {
    background-color: rgb(20, 3, 255);
    color: rgb(244, 244, 244);
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    margin: 10px;
    padding:  5px;
    box-shadow: 5px 10px 15px rgb(37, 37, 37);
}
h2 {
    font-family: "Chango", sans-serif;
    font-size: 40px;
}
p {
    font-size: 30px;
}