* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#nav {
    background-color: black;
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
}
#nav a {
    text-decoration: none;
    color: white;
    font-size: 18xp;
    padding: 20px;
}
#single-column-layout {
    max-width: 800px;
    margin: 48px auto;
}
#single-column-layout h1 {
    font-size: 64px;
    text-align: center;
}
#basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
#basic-grid-gallery img {
    width: 100%;
}
@media screen and (max-width: 640px) {
    body {
        background-color: rgb(42, 0, 81);
    }
    #basic-grid-gallery {
    grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 450px) {
    body{
        background-color: blue;
    }
    #nav {
        flex-direction: column;
        align-items: center;
    }
    #single-column-layout h1 {
        font-size: 44px;
    }
}