* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#mebay-layout {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 20px;
    margin-top: 40px;
}
#featured-images {
    width: 100px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    
}
#main-image {
    background-color: rgba(198, 198, 198, 0.73);
    text-align: center;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}
#third-column {
    width: 400px;
}
#featured-images img {
    width: 100%;
    border-radius: 20px;
}
#main-image img {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}
#featured-images img:first-child {
    border: 3px solid black;
    padding: 5px;
}
#third-column .offer {
    margin: 0px;
    padding: 0px;
}
#third-column h1 {
    margin-bottom: 0px;
}
a {
    display: block;
    text-decoration: none;
    border-radius: 4px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#third-column .blue {
    background-color: blue;
    color: white;
}
#third-column .white {
    background-color: aliceblue;
    color: blue;
    border: 2px solid blue;
}
.seller img {
    border-radius: 50%;
    width: 10%;
    padding: 5px;
}
.seller {
    display: flex;

}