* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #950000;
}
#first-div {
    text-align: center;
    margin-top: 50px;

}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
}
.single-column a {
    font-size: 28px;
    color: brown;
}
.single-column {
    margin: 36px auto;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 30px;
    max-width: 1400px;
}
#page-thumbnail {
    display: flex;
    gap: 36px;
}
.card {
    max-width: 300px;
    padding: 20px;
}