* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #950000;
}
#first-div {
    text-align: center;
    margin-top: 50px;

}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
}
.single-column a {
    font-size: 28px;
    color: brown;
}
.single-column {
    margin: auto;
    background-color: aliceblue;
    padding: 40px;
    border-radius: 30px;
    max-width: 1400px;
}
#page-thumbnail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 20px;
     :hover {
        transform: scale(1.05);
    }   
}

.card {
    max-width: 300px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    align-items: center;
}
svg {
    width: 30px;
    height: 30px;
    fill: rgb(255, 255, 255);
    margin: 5px;
}
.nav-bar{
    padding: 20px;
    text-align: center;
    
}
.nav-bar-outerlinks{
    text-align: center;
}
.single-page-column {
    margin: auto;
    background-color: aliceblue;
    padding: 40px;
    border-radius: 30px;
    max-width: 1400px;
    display: flex;
}
#side-side-2 {
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 40px;
    border-radius: 30px;
    max-width: 1400px;
    margin: 40px;
}
#side-side-2 .item-container{
    flex: 2;
}
#side-side-2 .text-container{
text-align: center;
}
#side-side-2 .item-container img{
    max-width: 100%px;
}
#page-background {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 30px;
    max-width: 1400px;
    margin: 40px auto;
    text-align: center;
}
#image-side-side-2 {
    align-items: center;
    gap: 36px;
    padding: 40px;
    border-radius: 30px;
    max-width: 1400px;
    margin: 40px;
}
#first-div h1 {
    color: white;
    font-size: 50px;
}
img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 5px;
    align-items: center;
}
a {
    :hover {
        color: blue;
    }
}
.card p {
    padding-left: 30px;
}
#first-div a {
    :hover {
        color: rgb(255, 0, 0);
    }
}
p {
    font-size: 18px;
}
/*icon library */
/*<i class="fi fi-br-home"></i>
<i class="fi fi-brands-instagram"></i>
*/
@media screen and (max-width: 640px) {
    body {
        background-color: rgb(42, 0, 81);
    }
    #basic-grid-gallery {
    grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 450px) {
    body{
        background-color: blue;
    }
    #nav {
        flex-direction: column;
        align-items: center;
    }
    #single-column-layout h1 {
        font-size: 44px;
    }
}